@page
@model ElderEase.Pages.Clients.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.firstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.firstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.lastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.lastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.city)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.city)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.state)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.state)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.zipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.zipCode)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Client.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
