@page
@model ElderEase.Pages.Clients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.firstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.firstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.lastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.lastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.city)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.city)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.state)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.state)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.zipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.zipCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Client.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
