@page
@model ElderEase.Pages.Services.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" asp-route-id="@Model.Id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].serviceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].isAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].serviceName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Service) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.serviceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serviceName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
